@media screen and (max-width: 1920px) {
    .caption {
        top: 45%;
    }

    .ajkula {
        margin-top: -380px;
    }

    .podvucen-naslov {
        width: 500px;
    }

    .redboxl, .redboxr {
        margin-top: 12%;
    }
}

@media screen and (max-width: 1440px) {
    .redboxl, .redboxr {
        margin-top: 9%;
    }

    .caption {
        top: 48%;
    }
}

@media screen and (max-width: 1366px) {
    .caption {
        top: 58%;
    }
}

@media screen and (max-width: 1280px) {
    .caption {
        top: 56%;
    }
}

@media screen and (max-width: 1024px) {
    .caption {
       top: 53%;
    }

    .ajkula {
        margin-top: -260px;
    }

    .redboxl, .redboxr {
        margin-top: 5%;
    }
}


@media screen and (max-width: 768px) {
    html, body {
        overflow-x: hidden;
    }

    .navbar {
        z-index: 2;
        overflow: visible;
        position: absolute;
    }

    .navbar li a {
        border: none;
    }

    .navbar li a:before {
        border: none;
    }

    .sticky {
        position: fixed;
    }

    .navbar a {
        border-right: none;
    }

    #inst {
        padding: 1px 25px !important;
    }

    .caption {
       top: 58%;
    }

    .caption h1 {
        font-size: 30px;
    }

    .caption h3 {
        font-size: 15px;
    }

    .onama {
        padding: 8% 2%;
    }

    #peraje {
        width: 10%;
    }

    .podvucen-naslov {
        width: 400px;
    }

    .usluge {
        padding: 6.8% 2%;
    }

    .usluge .d-flex {
        margin-bottom: 10px;
    }

    .galerija {
        padding: 6.8% 2%;
    }

    .redboxl, .redboxr {
        width: 70px;
        height: 150px;
        margin-top: 10%;
    }

    .ajkula {
        margin-top: -230px;
    }

    .kontakt {
        padding: 6.8% 2%;
    }
}




@media screen and (max-width: 425px) {
    .main-header img {
        display: none; 
    }

    .main-header {
        padding-left: 0%;
        padding-top: 10px;
    }

    .navbar {
        margin-top: 0px;
        width: 100%;
        margin-left: 0%;
        transform: skew(0deg);
    }

    .navbar a {
        transform: skew(-15deg);
        text-align: left;
    }

    .navbar-brand {
        display: inline;
        border-right: none !important;
    }

    .navbar-brand img {
        width: 100px;
        transform: skew(15deg);
    }

    .caption {
        top: 80%;
    }

    .caption h1 {
        font-size: 25px;
    }

    .caption h3 {
        font-size: 12px;
    }

    .onama {
        padding: 8% 0%;
    }

    .onama-text {
        margin-left: 2%;
    }

    .onama p {
        padding-right: 5%;
    }

    .onama img {
        display: none;
    }

    .podvucen-naslov {
        width: 380px;
    }

    .onama .podvucen-naslov {
        margin-bottom: 50px;
    }

    .usluge .podvucen-naslov {
        margin-bottom: 50px;
    }

    .usluge-opis {
        padding-left: 2%;
        padding-right: 2%;
    }

    .usluge .d-flex {
        margin-bottom: 10px;
    }

    .ajkula {
        display: none;
    }

    .galerija {
        padding-right: 2%;
    }

    .gal {
        margin-left: 2%;
        margin-right: 2%;
    }

    .redboxl, .redboxr {
        display: none;
    }

    .kontakt .podvucen-naslov {
        margin-bottom: 50px;
    }

    .inf {
        padding-left: 8%;
        padding-right: 8%;
    }

    .form {
        padding-left: 8%;
        padding-right: 8%;
    }
}

@media screen and (max-width: 320px) {
    .caption {
        top: 85%;
    }
}



