@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #505962;
}


    /* Header */

.top-header {
    font-size: 11px;
    background-color: #041e42;
    color: rgb(216, 216, 216);
    padding-left: 20%;
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.8);
    box-shadow: 0 3px 0 0 rgb(34, 34, 34);
}

.phone {
    border-right: 1px solid white;
    padding-right: 20px;
}

.email {
   padding-left: 20px;
}

.main-header {
    background-color: #041e42;
    color: rgb(216, 216, 216);
    padding: 15px 0;
    padding-top: 30px;
    padding-left: 20%;
}

.main-header img {
    width: 120px;
    margin-bottom: 5%;
}

.main-header h5 {
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 0px;
}

.main-header p {
    text-transform: uppercase;
    font-style: italic;
    font-size: 9px;
}


    /* Navigacija */

.nav {
    transform: skew(-15deg);
}
.menu {
    background-color: rgb(255, 67, 46);
    width: 70%;
    margin-left: 15%;
    padding: 8px;
    position: absolute;
    top: -18px;
}

.menu li {
    display: inline-block; 
}

.menu a {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    border-right: 0.3px solid rgb(207, 207, 207);
    padding: 10px 25px;
    text-decoration: none;
}

.menu li {
    transform: skew(15deg);
}

.menu a:hover {
    border-bottom: 3px solid white;
}

#kont, #fb, #inst {
    border-right: none;
}

#inst, #fb {
    padding: 10px 5px;
    font-weight: 200;
}

.nav-right {
    float: right;
    margin-right: 15px;
}


    /* Naslovna strana */

.home-inner {
    background-image: url(../img/home.jpg);
}


.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    z-index: 1;
    color: #fff;
    text-transform: uppercase;
}
  
.caption h1 {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem rgb(0, 0, 0);
    padding-bottom: 1rem;
    line-height: 0px;
}
  
.caption h3 {
    font-size: 1rem;
    text-shadow: .1rem .1rem .5rem rgb(0, 0, 0);
    padding-bottom: 1.6rem;
    letter-spacing: .1rem;
}


    /* O nama */

.onama {
    background-color: #fff;
    padding: 8% 8%;
}

.onama1 {
    padding-top: 5%;
}

.onama-text {
    margin-left: 10%;
}

.onama h1 {
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bolder;
    padding-left: 20%;
}

.onama p {
    font-size: 13px;
    padding-right: 10%;
}

.onama img {
    position: absolute;
    right: 0;
    width: 10%;
    margin-top: 7.7%;
}

.podvucen-naslov {
    width: 400px;
    height: 10px;
    margin-left: -210px;
    background-color: rgb(255, 67, 46);
    transform: skew(-30deg);
}

.fa-minus {
    transform: rotate(90deg);
    font-size: 18px;
    color: rgb(255, 67, 46);
}

.hor-line {
    color: rgb(255, 67, 46);
    font-weight: 900;
    padding-right: 3%;
    margin-left: -4.5%;
}


    /* Usluge */

.usluge {
    background-color: rgb(247, 248, 250);
    padding: 6.8% 8%;
    
}

.usluge h1 {
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bolder;
    padding-left: 20%;
}

.usluge h3 {
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.usluge img {
    width: 100%;
}

.left {
    margin-left: 10%;
}

.usluge p {
    font-size: 12px;
    line-height: 15px;
}


    /* Galerija */

.galerija {
    background-color: #fff;
    padding: 6.8% 8%;
}

.galerija h1 {
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bolder;
    padding-left: 20%;
}

.galerija img {
    width: 100%;
    filter: grayscale(100%);
    transition: 600ms ease;
    padding-bottom: 10px;
}

.galerija img:hover {
    filter: grayscale(0%);
}

.galerija .podvucen-naslov {
    margin-bottom: 80px;
}

.redboxl {
    width: 150px;
    height: 250px;
    background-color: rgb(255, 67, 46);
    position: absolute;
    left: 0;
    margin-top: 8%;
}

.redboxr {
    width: 150px;
    height: 250px;
    background-color: rgb(255, 67, 46);
    position: absolute;
    right: 0;
    margin-top: 8%;
}

.ajkula {
    width: 30%;
    position: absolute;
    right: 0;
    margin-top: -350px;
}

.gal {
    margin-left: 10%;
    margin-right: 10%;
}


    /* Kontakt */
  
.fixed {
    background-image: url(../img/kontakt.jpg);
    z-index: -1;
}

.kontakt {
    background-color: rgba(4, 30, 66, 0.9);
    padding: 6.8% 8%;
    color: rgb(216, 216, 216);
    font-size: 13px;
}

.kontakt h1 {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 20%;
}

.kontakt .podvucen-naslov {
    margin-bottom: 80px;
}

.kontakt iframe {
    width: 100%;
    padding-bottom: 4%;
}

.kontakt .form-control {
    background-color: transparent;
    border-radius: 0%;
    font-size: 13px;
}

.btn-primary {
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    background-color: rgb(255, 67, 46);
    border: none;
    border-radius: 0% !important;
    font-size: 13px;
}

.btn-primary:hover {
    color: rgb(255, 67, 46);
    font-weight: 500;
    background-color: #fff;
}

.kontakt .fas {
    padding-bottom: 5%;
}

.kontakt .fa-home {
    padding-bottom: 0%;
}

.form {
    padding-left: 5%;
}

.inf {
    padding-left: 10%;
}


    /* Futer */

.footer {
    text-align: center;
    color: #fff;
    background-color: rgb(255, 67, 46);
    height: 80px;
    position: relative;
    
}

.footer p {
    font-size: 13px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}







