@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    color: #505962;
    color: #777777;
}


/* Header */

.top-header {
    font-size: 12px;
    font-weight: 300;
    background-color: #041e42;
    color: rgb(216, 216, 216);
    padding-left: 20%;
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.8);
    box-shadow: 0 3px 0 0 rgb(34, 34, 34);
}

.phone {
    border-right: 1px solid white;
    padding-right: 20px;
}

.email {
    padding-left: 20px;
}

.main-header {
    background-color: #041e42;
    color: rgb(216, 216, 216);
    padding: 15px 0;
    padding-top: 15px;
    padding-left: 20%;
    position: relative;
}

.main-header img {
    width: 120px;
    margin-bottom: 5%;
}

.main-header h5 {
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    line-height: 0px;
}

.main-header p {
    text-transform: uppercase;
    font-style: italic;
    font-size: 10px;
    font-weight: 100;
    line-height: 6px;
}

.main-header .clock,
.home {
    padding-top: 15px;
}


/* Navigacija */

.navbar {
    transform: skew(-15deg);
}

.navbar {
    background-color: rgb(180, 47, 38) !important;
    width: 70%;
    margin-left: 15%;
    padding: 5px;
    margin-top: -18px;
}

.navbar li {
    list-style: none;
    display: inline-block;
}

.navbar li a {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff !important;
    border-right: 0.1px solid rgb(207, 207, 207);
    padding: 1px 25px !important;
    margin: 4px 0px;
    text-decoration: none;
    position: relative;
    display: block;
    overflow: hidden;
    transition: 0.7s all;
}

.navbar li a:before {
    content: '';
    width: 50px;
    position: absolute;
    border-bottom: 3.3px solid white;
    bottom: 0px;
    right: 200px;
    transition: 0.7s all;
}

.navbar li a:hover:before {
    right: 10px;
}

.navbar li #fb:before {
    border-bottom: none;
}

.navbar li #inst:before {
    border-bottom: none;
}

.navbar li #blogicon:before {
    border-bottom: none;
}

.navbar .nav-item {
    transform: skew(15deg) !important;
    list-style-type: none;
}

#blg,
#fb,
#inst,
#blogicon {
    border-right: none;
}

#fb {
    padding-right: 0px !important;
}

.sticky {
    position: fixed;
    top: 0;
    margin-top: 0px;
    z-index: 9999;
    transition: all 1.5s ease;
    opacity: 1;
}

.navbar-brand {
    display: none;
}


/* Naslovna strana */

.home-inner {
    background-image: url(../img/home.jpg);
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 70%;
    z-index: 1;
    color: #fff;
    text-transform: uppercase;
}

.caption h1 {
    font-size: 35px;
    font-weight: 600;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem rgb(0, 0, 0);
    padding-bottom: 1rem;
    line-height: 0px;
}

.caption h3 {
    font-size: 20px;
    font-weight: 500;
    text-shadow: .1rem .1rem .5rem rgb(0, 0, 0);
    padding-bottom: 1.6rem;
    letter-spacing: .1rem;
}


/* O nama */

.onama {
    background-color: #fff;
    padding: 8% 8%;
    position: relative;
}

#peraje {
    margin-bottom: -10px;
    margin-left: 45%;
}

.onama1 {
    padding-top: 5%;
}

.onama-text {
    margin-left: 10%;
}

.onama h1 {
    color: #333333;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 11%;
}

.onama p {
    font-size: 14px;
    font-weight: 400;
    padding-right: 10%;
    text-align: justify;
    color: #777777;
}

.onama img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10%;
}

.podvucen-naslov {
    width: 450px;
    height: 10px;
    margin-left: -210px;
    background-color: rgb(180, 47, 38);
    transform: skew(-30deg);
}

.hor-line {
    color: rgb(180, 47, 38);
    font-weight: 900;
    padding-right: 3%;
    margin-left: -4.5%;
}


/* Usluge */

.usluge {
    background-color: rgb(247, 248, 250);
    padding: 6.8% 8%;
}

.usluge-opis {
    padding-left: 10.5%;
    padding-right: 10%;
}

.usluge h1 {
    color: #333333;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 11%;
}

.usluge h3 {
    color: #333333;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 4px;
}

.usluge img {
    width: 60px;
    height: 60px;
    margin: 2%;
    margin-top: 10px;
    margin-right: 15px;
}

.usluge p {
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    text-align: justify;
}

.accordion .card .card-header {
    width: 100%;
    height: 10px;
    padding: 0px !important;
    margin: 0px !important;
    border: none;
    position: relative;
}

.accordion .card .card-header .fas {
    position: absolute;
    padding-top: 0px !important;
    top: -4px;
    left: 45%;
    color: #b1b1b1;
}

.accordion .card .card-header h2 {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    padding: 0px !important;
}

.card .collapse .card-body {
    padding: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    text-align: justify;
}


/* Galerija */

.galerija {
    background-color: #fff;
    padding: 6.8% 8%;
    position: relative;
}

.galerija h1 {
    color: #333333;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 11%;
}

.galerija img {
    width: 100%;
    filter: grayscale(100%);
    transition: 600ms ease;
    padding-bottom: 10px;
}

.galerija img:hover {
    filter: grayscale(0%);
}

.galerija .podvucen-naslov {
    margin-bottom: 80px;
}

.redboxl {
    width: 150px;
    height: 250px;
    background-color: rgb(180, 47, 38);
    position: absolute;
    left: 0;
    margin-top: 8%;
}

.redboxr {
    width: 150px;
    height: 250px;
    background-color: rgb(180, 47, 38);
    position: absolute;
    right: 0;
    margin-top: 8%;
}

.ajkula {
    width: 30%;
    position: absolute;
    right: 0px;
    margin-top: -350px;
}

.gal {
    margin-left: 10%;
    margin-right: 10%;
}


/* Kontakt */

.fixed {
    background-image: url(../img/kontakt.jpg);
    z-index: -1;
}

.kontakt {
    background-color: rgba(4, 30, 66, 0.9);
    padding: 6.8% 8%;
    color: rgb(216, 216, 216);
    font-size: 13px;
}

.kontakt h1 {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 11%;
}

.kontakt .podvucen-naslov {
    margin-bottom: 80px;
}

.kontakt iframe {
    width: 100%;
    padding-bottom: 4%;
}

.kontakt .form-control {
    background-color: transparent;
    border-radius: 0%;
    font-size: 13px;
    color: white;
}

.kontakt .form-control:focus {
    box-shadow: none;
    border: 1px solid rgb(216, 216, 216);
}

.kontakt .btn-primary {
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    background-color: rgb(180, 47, 38);
    border: none;
    border-radius: 0% !important;
    font-size: 13px;
    transition: 0.5s ease-in-out;
}

.btn-primary:hover {
    color: rgb(180, 47, 38);
    font-weight: 500;
    background-color: #fff;
    transition: 0.5s ease-in-out;
}

.kontakt .fas {
    padding-bottom: 5%;
}

.kontakt .fa-home {
    padding-bottom: 0%;
}

.form {
    padding-left: 5%;
    padding-right: 4%;
}

.inf {
    padding-left: 12%;
}


/* Futer */

.footer {
    text-align: center;
    color: #fff;
    background-color: rgb(180, 47, 38);
    height: 80px;
    position: relative;

}

.footer p {
    font-size: 13px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


/* Blog */

.blog {
    background-color: #fff;
    padding: 6.8% 8%;
    font-size: 13px;
}

.blog h1 {
    color: #333333;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 11%;
}

.blog .podvucen-naslov {
    margin-bottom: 80px;
}

.blog .bl {
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5%;
}

.card {
    background-color: rgb(247, 248, 250);
    width: 100% !important;
    border: none;
    position: relative;
}

.card h5 {
    color: #333333;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 4px;
}

.card-text {
    padding: 15px 0px;
}

.card p {
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
}

.blog .btn-primary {
    transition: 0.5s ease-in-out;
    text-transform: none;
    color: #fff;
    font-weight: 500;
    background-color: rgb(180, 47, 38);
    border: none;
    border-radius: 0% !important;
    font-size: 13px;
    padding: 1px 12px;
    position: absolute;
    right: 0;
}

.blog .cosak {
    display: inline-block;
    background-color: rgb(180, 47, 38);
    width: 20px;
    height: 21px;
    position: absolute;
    transform: skew(-15deg);
    right: 70px;
}

.blog .datum {
    display: inline-block;
}

.podvucen-naslov-blog {
    width: 80px;
    height: 10px;
    background-color: rgb(180, 47, 38);
    transform: skew(-15deg);
    margin-bottom: 80px;
    margin-left: 46%;
}

.blog .h1-blog {
    color: #333333;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 0px;
}

.blog img {
    width: 100%;
}


/* Trenutno u ponudi */

.prodaja {
    padding: 4.5% 8%;
    font-size: 13px;
    background: url(../img/prodaja-bg.png);
    background-size: cover;
}

.prodaja .pr {
    margin-left: 22%;
    margin-right: 22%;
}

.prodaja img {
    width: 100%;
}

.prodaja .h1-prodaja {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 0px;
}

.podvucen-naslov-prodaja {
    width: 80px;
    height: 2px;
    background-color: rgb(180, 47, 38);
    margin-bottom: 80px;
    margin-left: 46%;
}

.prodaja .btn-primary {
    transition: 0.5s ease-in-out;
    text-transform: none;
    color: #fff;
    font-weight: 500;
    background-color: rgb(180, 47, 38);
    border: none;
    border-radius: 0% !important;
    font-size: 13px;
    padding: 1px 12px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.prodaja .cosak {
    display: inline-block;
    background-color: rgb(180, 47, 38);
    width: 20px;
    height: 21px;
    position: absolute;
    transform: skew(-15deg);
    right: 70px;
    bottom: 0;
}

.prodaja .card {
    background-color: rgba(255, 255, 255, 0.2);
    width: 100% !important;
    border: none;
    border-radius: 0px;
    position: relative;
}

.prodaja .card h5 {
    background-color: rgb(180, 47, 38);
    padding: 10px 10px;
    margin: 0px 0px;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

.prodaja .card-text {
    color: #fff;
    padding: 10% 10%;
    font-size: 13px;
    font-weight: 400;
}

table {
    margin-left: 30px;
}

table tr td {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}